In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = pd.read_csv("dataset/music.csv")
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [6]:
X = music_data.drop(columns=['genre'])
y = music_data['genre']
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
# prediction_data = pd.DataFrame([[21, 1], [22, 0]], columns=['age', 'gender'])

predictions = model.predict(X_test)
predictions

array(['Jazz', 'HipHop', 'Dance', 'Acoustic'], dtype=object)

In [11]:
score = accuracy_score(y_test, predictions)
print(f"Predictions (training): {predictions}\nScore : {score}")

Predictions (training): ['Jazz' 'HipHop' 'Dance' 'Acoustic']
Score : 0.5